/*
16px == 1rem


html { font-size: 16px; }

img {
  width: 25%
}

.amendment-title {
  color: green;
  text-align: center;
  font-size: 2rem;
}

.amendment-title:hover {
  color: rgba(92, 213, 235, 0.4);
}

.amendment-title::first-letter {
  font-size: 5rem;
}

.amendment-body {
  text-align: center;
}

.document-history {
  background-color: yellow;
}


.document-history p {
  width: 50%;
}

.document-history h4 {
  background-color: #FFEFD5;
}

#bill-of-rights {
  font-style: italic;
}

.highlight {
  background-color: salmon;
}
*/
img {
  width: 25%
}

.document-history {
  text-align: center
}

.document-history {
  background-color: azure
}

.document-history {
  height: 2rem;
}

.document-history p {
  font-family: verdana, sans-serif;
}

.document-history p {
  background-color: azure;
}

.document-history {
  width: 50%;
}

.bill-article {
  padding: 5rem;
}

.bill-article {
  text-align: center;
}

.bill-article {
  background-color: beige;
}

